@media (max-width: 480px) {

body {
  padding: 0 10px;
}

body #container ul.posts .datetime {
  float: none;
  display: block;
  width: auto;
  text-align: left;
}

body #container #ind-instagram, body #container #ind-linkedin {
  display: none;
}

body #container .links, body #container .content {
  padding: 15px;
}

body #container .links section.post, body #container .content section.post {
  margin: 0 -15px;
}

body #container .links section.post > p, body #container .links section.post h1, body #container .links section.post h2, body #container .links section.post h3, body #container .links section.post h4, body #container .links section.post .signoff, body #container .links section.post blockquote, body #container .links section.post .highlight, body #container .content section.post > p, body #container .content section.post h1, body #container .content section.post h2, body #container .content section.post h3, body #container .content section.post h4, body #container .content section.post .signoff, body #container .content section.post blockquote, body #container .content section.post .highlight {
  padding: 0 15px;
}

body #container .links section.post > ul, body #container .links section.post > ol, body #container .content section.post > ul, body #container .content section.post > ol {
  padding: 0 30px;
}

}


.image {
  float: left;
  padding-top: 10px !important;
  padding-right: 10px !important;
}

.image img {
  max-width: 100px !important;
}

.info {
  width: 60%;
  float: left;
  padding: 0 !important;
  margin-bottom: 30px;
}



h1, h2, h3, h4, h5, strong, b {
  font-weight: 600; }

html, body {
  height: 100%;
}

.hoge {
  font-weight: bold;
//  font-size: 1.2em;
}

.video-container {
  position: relative;
  padding-bottom: 43% !important;
  padding-top: 30px !important;
  height: 0;
  overflow: hidden;
  margin: 0 60px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
