.cover-image-container {
  width: 100%;
  height: 200px;
}

.cover-image {
  background-position: 50%;
  background-size: cover;
  height: 100%!important;
  object-fit: cover!important;
}

.teaser {
/*  margin-bottom: 20px;*/
  text-align: center;
  color: black;
  padding: 15px 0px !important;
}

/*.teaser img {
  width: 90%;
}
*/
#lab:hover {
  opacity: 0.7;
}


header {
  margin-top: 30px !important;
}

body {
  background: #f9f9f9;
  color: #303030;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 19px;
  padding: 0;
  margin: 0;
}

footer {
  width: 100%;
  height: 400px;
  margin-top: 150px;
  line-height: 2em;
  margin: auto;
  text-align: center;
  background: #eee;
}

footer * {
  color: #797979;
}

img {
  max-width: 100%;
  border: none;
}

a {
  text-decoration: none;
  color: #269;
  line-height: 1.2em;
  display: inline-block;
}

a:hover {
  color: #1d5884;
  text-decoration: underline;
}

#top-video {
  width: 100%;
  margin: 10px 0;
}

#breadcrumb {
  padding: 0;
  margin-bottom: 20px;
  font-size: 1.1em;
  background: none;
}

#project {
  margin-bottom: 80px
}

#project .content {
  /*text-align: center;*/
}

#projects .ui.header {
  color: #269 !important;
}

#project .title {
  font-size: 2em;
}

#project .meta {
  font-size: 1.1em;
}

#project video {
  width: 100%;
}

#project .figures {
  margin-top: 5px;
  margin-bottom: 5px;
}

#project p {
  text-align: justify;
}

#project h1 {
  margin-top: 40px;
}

.images img {
  height: 200px;
}

#project .paper-thumbnail:hover {
  opacity: 0.8;
}

.paper.column {
  height: 100%;
  padding-left: 0.5% !important;
  padding-right: 0.5% !important;
}

.slide.column {
  padding: 0.5% !important;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video-bg {
  background: transparent url(/static/images/pattern.png) repeat top left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.fa-fw {
  margin-right: 3px;
}

.ui.segment {
  font-size: 1.3rem !important;
}

.ui.dimmer {
  background: rgba(255, 255, 255, 0.85) !important;
}


.container {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid #eee;
  position: relative;
  margin-bottom: 20px;
}

body .ui.cards>.card{
  box-shadow: none;
}

#students {
  font-size: 0.8em !important;
}

#students .header {
  margin: 5px 0px;
}

#students .title {
  position: absolute;
  z-index: 1000;
  top: -8px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.profile-container {
  width: 100%;
  height: 120px;
  overflow: hidden;
}

.profile {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}